<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fun Facts Website</title>
</head>
<body>
    <h1>Fun Facts</h1>
    <p>
        Hey! This website has a bunch of random facts on it. You can go to /facts/:thing to find a fact about anything.<br/>
        <br/>
        For example: Try <a href='/facts/tokyo'>/facts/tokyo</a> 
    </p>
</body>
</html>