<h1>Welcome to the DogCatFish website!</h1>

<b>Try looking at some of our images:</b><br />
<ol>
    <li>Going to <code>/dog.jpg</code> gives you a photo of a cat</li>
    <li>Going to <code>/cat.jpg</code> gives you a photo of a dog</li>
    <li>Going to <code>/fish.jpg</code> gives you this page</li>
</ol>
<br />

<b>Going to <code>/pet</code> lets you use query parameters!</b><br />
<ol>
    <li>Going to <code>/pet?type=cat</code> gives you a photo of a cat</li>
    <li>Going to <code>/pet?type=dog</code> gives you a photo of a dog</li>
</ol>
<br />