<h1>Fun Facts</h1>
<p>
    Hey! This website has a bunch of random facts on it. You can go to /facts/:thing to find a fact about anything.<br/>
    <br/>
    For example: Try <a href='./facts/tokyo'>/facts/tokyo</a> 
</p>