<h1>We found {{ count }} facts!</h1>
<ol>
    {{#each facts}}
    <li>{{{ this }}}</li>
    {{/each}}
</ol>
<a href="?limit={{ inc count }}">Next fact</a>
<a href="?limit={{ dec count }}">Prev fact</a>