<link rel="stylesheet" href="/css/geography_quiz.css">

<div class="header">
	<h1>
		Geography Quiz
	</h1>
	<i>
		Type your answer in the box below. Try to get all the states in as little time possible!<br />
		{{ welcomeMessage }} You've visited this page {{ visitCount }} times.
	</i>
	<br />
	<input type="text" id="answer" />
	<br />
	<div class="bar">
		<span class="info" id="proportion">0 / 0</span>
		<span class="info" id="score">0 points</span>
		<span class="info" id="timer">00:00:00</span>
		<button class="btn btn-success" id="control">Start</button>
	</div>
	<br />
	<span>
		<button class="btn btn-primary" onclick="setQuiz('world');">World quiz</button>
		<button class="btn btn-primary" onclick="setQuiz('USA');">USA quiz</button>
	</span>
</div>

<div id="svgWrapper" style="filter: blur(1rem)">
</div>

<script src="/quiz/quiz.js" type="text/javascript"></script>
<script type="text/javascript">
	let quiz = null;

	function setQuiz(name) {
		if (quiz) {
			quiz.disconnect();
		}

		quiz = new Quiz("/quiz/" + name + ".json");
	}
</script>