<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Geography Quiz</title>
	<style>
		body {
			margin: 0px;
			/* width: 100vw;
			height: 100vh; */
		}

		#svgWrapper {
			width: 100vw;
			display: flex;
			flex-direction: column;
		}

		svg {
			margin: 0px auto;
		}

		.header {
			text-align: center;
		}

		.bar {
			display: flex;
			justify-content: center;
		}

		input {
			font-size: 2em;
			margin: 10px;
		}

		.info {
			font-size: 2em;
			margin: 0px 5px;
		}

		.start-button {
			display: absolute;
		}
	</style>
</head>

<body>

	<div class="header">
		<h1>
			Geography Quiz
		</h1>
		<i>
			Type your answer in the box below. Try to get all the states in as little time possible!<br />
			You've visited this page {{ visitCount }} times.
		</i>
		<br />
		<input type="text" id="answer" />
		<br />
		<div class="bar">
			<span class="info" id="proportion">0 / 0</span>
			<span class="info" id="score">0 points</span>
			<span class="info" id="timer">00:00:00</span>
			<button id="control">Start</button>
		</div>
		<br />
		<span>
			<a href="#world">World quiz</a>
			<a href="#USA">USA quiz</a>
		</span>
	</div>

	<div id="svgWrapper" style="filter: blur(1rem)">
	</div>

	<script src="./quiz.js" type="text/javascript"></script>
	<script type="text/javascript">
		let quiz = null;

		window.onhashchange = () => {
			let quizName = "";
			if (window.location.hash) {
				quizName = window.location.hash.slice(1);
			}

			if (quiz) {
				quiz.disconnect();
			}

			quiz = new Quiz("./" + quizName + ".json");
		}

		window.onhashchange();
	</script>
</body>

</html>