<h1>Welcome to my website!</h1>
<p>
    This website has a bunch of random labs we did for Web Apps at TJ.<br />
    Here are a few of them:
</p>
<ol>
    <li>
        <a href="/facts">Facts about numbers</a>
    </li>
    <li>
        <a href="/dogcatfish">Dog Cat Fish website</a>
    </li>
    <li>
        <a href="/weather">Weather forecaster</a>
    </li>
    <li>
        <a href="/geography_quiz">50 States map quiz</a>
    </li>
</ol>
