<div class="text-center">
	<h1>Welcome to my website!</h1>
	<div class="text-left d-inline-block">
		<span class="font-weight-bold text-center d-block">Web Apps Labs</span>
		<ul class="list-unstyled spaced">
			<li>
				<a href="/facts">Facts about numbers</a>
			</li>
			<li>
				<a href="/dogcatfish">Dog Cat Fish website</a>
			</li>
			<li>
				<a href="/weather">Weather forecaster</a>
			</li>
			<li>
				<a href="/geography_quiz">50 States map quiz</a>
			</li>
			</ol>
	</div>
</div>