<!DOCTYPE html>

<html>
    <head>
        
    </head>

    <body>
        <h1>Welcome to the DogCatFish website!</h1>

        <b>Try looking at some of our images:</b><br/>
        <ol>
            <li>Going to /dog.jpg gives you a photo of a cat</li>
            <li>Going to /cat.jpg gives you a photo of a dog</li>
            <li>Going to /fish.jpg gives you this page</li>
        </ol>
        <br/>

        <b>Going to /pet gives you options!</b><br/>
        <ol>
            <li>Going to /pet?type=cat gives you a photo of a cat</li>
            <li>Going to /pet?type=dog gives you a photo of a dog</li>
            <li>Going to /pet?type=&lt;other&gt; gives you an error message</li>
        </ol>
        <br/>
        
    </body>
</html>